.booking-page {
  min-height: 100vh;
  background: #eef2ee;
  color: rgb(13, 76, 37);
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.booking-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.back-btn {
  background: #444;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
  margin-bottom: 30px;
}

.back-btn:hover {
  background: #222;
}

.loading,
.empty-msg {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.booking-list {
  display: flex;
  color: #fff;
  flex-direction: column;
  gap: 15px;
}

.booking-card {
  background: rgb(13, 76, 37);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.booking-card h3 {
  margin: 0;
}

.booking-card p {
  margin: 5px 0;
  font-size: 0.95rem;
}
